<div class="container">
   
</div>

<div class="container">
        <br>
        <hr>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Perguntas</h1>
                </div>
                <div class="col-sm-2 text-right pull-right">
                    <a href="/perguntar" class="btn btn-primary text-right">Perguntar</a>
                </div>
            </div>
        </div>
        <hr>
        {{#each pergunta}}
            <br>
            <div class="card">
                <div class="card-body">
                    <h5>{{titulo}}</h5>
                </div>

                <div class="card-footer">
                    <a href="/findpergunta/{{id}}"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>
            <br>
        {{/each}} 
    </div>

</div>