<div class="container">
    <div class="card" id='card-perguntas'>
        <div class="card-header">
            <h3>Testando containers</h3>
        </div>

        <div class="card-body">
            <hr>
            <form action="/perguntasAction" method="POST">
                <label for="titulo">Titulo</label>
                <input class="form-control" type="text" name='titulo' id='titulo' placeholder="Titulo">
                <label for="descricao">Pergunta</label>
                <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="5"></textarea>
                <br><button class='btn btn-primary'>Perguntar</button>
            </form>
        </div>
    </div>

</div>